In [1]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import (
    cross_val_score, KFold
)

from sklearn.metrics import mean_squared_error

In [2]:
dataset = pd.read_csv('../data/felicidad.csv')
dataset.head()

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [3]:
X = dataset.drop(['country', 'score'], axis=1)
y = dataset.score

model = DecisionTreeRegressor()

score = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=5)

score

array([-0.41705464, -0.07657033, -0.05714638, -0.07730962, -0.41102156])

In [4]:
np.abs(np.mean(score))

0.20782050655724174

In [8]:
kf = KFold(n_splits=5, shuffle=True, random_state=11)
for train, test in kf.split(dataset):
    print(train, test)

[  0   1   3   4   5   6   7   8  10  13  14  17  18  19  20  21  23  24
  25  26  27  28  29  31  32  33  34  35  36  37  38  39  40  42  43  44
  45  46  47  48  49  50  51  53  54  55  57  58  59  60  62  64  66  67
  68  69  70  71  72  74  75  76  77  78  79  80  81  82  84  85  86  87
  89  90  91  92  94  95  96  97  98  99 101 102 103 104 105 106 107 108
 109 111 112 113 114 116 117 120 121 122 123 124 125 127 128 129 130 131
 132 133 135 136 139 140 142 144 145 148 149 150 151 152 153 154] [  2   9  11  12  15  16  22  30  41  52  56  61  63  65  73  83  88  93
 100 110 115 118 119 126 134 137 138 141 143 146 147]
[  1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18  19
  22  23  24  25  27  28  30  31  32  33  34  37  38  39  40  41  43  44
  45  47  48  50  52  53  55  56  57  59  61  63  64  65  67  68  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 103 104 106 107 109 110 112 113 114
 115 117 118 119 120 121 122 123 125 126 127 129 130 132 133 134 135 136
 137 138 139 140 141 142 143 144 146 147 148 149 150 151 152 153] [  0   6  20  21  26  29  35  36  42  46  49  51  54  58  60  62  66  69
  84  85  86 102 105 108 111 116 124 128 131 145 154]
[  0   1   2   3   5   6   7   8   9  10  11  12  13  14  15  16  19  20
  21  22  23  24  25  26  27  29  30  32  34  35  36  37  40  41  42  44
  45  46  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64
  65  66  67  68  69  70  71  72  73  74  76  78  79  80  81  82  83  84
  85  86  87  88  89  91  92  93  95  96  99 100 102 105 107 108 109 110
 111 112 114 115 116 117 118 119 121 124 125 126 127 128 129 130 131 132
 133 134 136 137 138 141 142 143 145 146 147 148 151 152 153 154] [  4  17  18  28  31  33  38  39  43  47  48  75  77  90  94  97  98 101
 103 104 106 113 120 122 123 135 139 140 144 149 150]
[  0   2   4   6   9  11  12  13  15  16  17  18  20  21  22  23  24  26
  27  28  29  30  31  33  34  35  36  37  38  39  41  42  43  45  46  47
  48  49  51  52  54  56  58  60  61  62  63  65  66  67  69  70  71  73
  74  75  76  77  79  80  81  82  83  84  85  86  88  89  90  91  92  93
  94  96  97  98 100 101 102 103 104 105 106 107 108 109 110 111 113 114
 115 116 118 119 120 122 123 124 125 126 128 129 131 132 133 134 135 137
 138 139 140 141 142 143 144 145 146 147 149 150 151 152 153 154] [  1   3   5   7   8  10  14  19  25  32  40  44  50  53  55  57  59  64
  68  72  78  87  95  99 112 117 121 127 130 136 148]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  14  15  16  17  18
  19  20  21  22  25  26  28  29  30  31  32  33  35  36  38  39  40  41
  42  43  44  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60
  61  62  63  64  65  66  68  69  72  73  75  77  78  83  84  85  86  87
  88  90  93  94  95  97  98  99 100 101 102 103 104 105 106 108 110 111
 112 113 115 116 117 118 119 120 121 122 123 124 126 127 128 130 131 134
 135 136 137 138 139 140 141 143 144 145 146 147 148 149 150 154] [ 13  23  24  27  34  37  45  67  70  71  74  76  79  80  81  82  89  91
  92  96 107 109 114 125 129 132 133 142 151 152 153]